{% extends "./layouts/main.jinja" %}
{% block content %}
<!-- Jumbotron -->
<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>URLShorten</h2>
  <p>
    This is a simple URL Shortening Website and logging IP for the people who visit the website.
  </p>
  <hr class="my-4" />
  <p>
    Developed by a AM
  </p>
  <button type="button" class="btn btn-primary">
    Learn more
  </button>
</div>
<section class="features py-5">
  <h2>Why Choose URLshorten?</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="https://media.tenor.com/enihTZnEU9MAAAAi/sonic-fnf.gif" class="img-fluid object-fit-cover" alt="">
      <i class="fas fa-rocket"></i>
      <h4>Blazing Fast</h4>
      <p>Shorten your links in milliseconds.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-chart-line"></i>
      <h4>Trackable Links</h4>
      <p>See how many times your links have been clicked.</p>
      <img src="https://media1.tenor.com/m/7oryd85Qn-IAAAAC/detective-trace.gif" class="img-fluid object-fit-cover"
        alt="">
    </div>
    <div class="col-md-4">
      <img src="https://media1.tenor.com/m/RKJXnSmZGtYAAAAd/tomi-tominet.gif" class="img-fluid object-fit-cover" alt="">
      <i class="fas fa-lock"></i>
      <h4>Secure and Reliable</h4>
      <p>Your data is safe and your links won't break.</p>
    </div>
  </div>
</section>

<!-- Jumbotron -->
{% endblock %}