{% extends "./layouts/main.jinja" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Edit User</h1>
        <form method="post" action="/edituser/{{user.id}}/" class="needs-validation" novalidate>
            {% csrf_token %}
            {% if form.errors %}
            <ul style="list-style-type: none;margin:0;padding:0px;">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li class="alert alert-danger">{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Update User Data</button>
        </form>
    </div>
</div>
{% endblock %}